@import "tailwindcss";
@plugin "daisyui";

#root {
    min-width: 100wh;
    /* margin: 0 auto; */
    /* padding: 2rem; */
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
  }
  